body {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-control {
    color: #586870;
    vertical-align: middle;

    &__input {
        width: 20%;
        align-self: center;
        padding: 20px;
        border: 1px solid #C0C6C9;
        border-radius: 8px;
        font-size: 18px;
        color: #586870;
    }

    &__input:focus {
        caret-color: #007AFF;
        background: #E4F0FF;
        outline: 1px solid #007AFF;
    }

    &__input::-webkit-input-placeholder {
        color: #586870;
    }

    &__error {
        color: #FF3D00;
        font-size: 12px;
        padding-top: 10px;
        display: block;
    }

    &__pass-show,
    &__pass-confirm-show {
        position: absolute;
        margin: 20px -30px;
    }

}

.btn__send {
    width: 22%;
    margin: auto;
    padding: 20px;
    border: 1px solid #C0C6C9;
    border-radius: 8px;
    color: #586870;
    margin-top: 15px;
    background: #9FD468;

    &:hover {
        background-color: #07e082;
    }
}

.success__text {
    display: none;
    color: green;
    font-size: 24px;
    text-align: center;
}

.visible {
    display: block;
}

.success .form-control__input {
    border-color: #09c372;
}

.error .form-control__input {
    border-color: #FF3D00;
    background: #FFEFEF;
}

.checkbox:checked+.checkbox__custom {
    background-image: url(../images/on.svg);
    margin-left: -2.2em;
    width: 2em;
    height: 2em;
}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &__custom {
        position: absolute;
        margin-left: -2.2em;
        margin-top: -0.3em;
        width: 2em;
        height: 2em;
        background-image: url(../images/off.svg);
    
    }
}